body{
    background-color: #1D5D9B;
}
.container{
    margin:auto;
    text-align: center;
    width:70%;
}

h1{
    margin: 34px;
    font-family: 'Quicksand', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7rem;
    color: #F4D160;    
}
.dice{
    text-align: center;
    display: inline-block;
}
p{
    font-family: 'Lumanosimo',cursive;
    font-size: 2rem;
    color: #FBEEAC;
}
img{
    width:80%
}
footer{
margin-top: 10%;
color: #EEEEEE;
text-align: center;
font-family: 'Indie Flower', cursive;
font-size: 1.5rem;
}
